
* {
  margin: 0;
  padding: 0;
  }
  .navigation {
    margin: 100px auto;
    width: 336px;
    background: #E8D3D3;
    }
  body {
    text-align: center;
    font: 71%/1.5 Sans-Serif;
    background: #eee;
    }
  #divForContent {
    text-align: justify;
    margin: 100px auto;
    width: 336px;
    background: #E8D3D3;
    }